/* General styling */
* {
  margin: 0;
  padding: 0;
}

body{
  background-color: #2fe00b;
}
h1 {
  color: blue;
  text-align: center;
  padding: 20px
}

/* NavBar styling */

nav div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: mediumvioletred; 
  height: 50px;
  width: 100%;
}

nav a {
  text-decoration: none;
}
nav p {
  margin-left: 10px;
  font-size: 50px;
}
.nav-links{
  display: flex;
}
.nav-links li{
  padding: 10px;
  list-style-type: none;
}
.nav-links a{
  text-decoration: none;
}


/* Fulfillmennationalsim */

.False {
  background-color: darkred;

}
.True{
  background-color: palegreen; 
}

  
/* Cards */
.card-container{
  max-width: 750px;
  
  margin: auto;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px;
  column-gap: 25px;
  row-gap: 25px;

  
}

.card{
  width: 100%;
  height: 100%;
  background-color: lightgray;
}

.card-container .product-img{
  width: 254px;
  height: 244px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.img-wrapper{

}

.product-description {
  font-size: 12px;
}


