


h1 {
  color: blue;
  text-align: center;
}
nav div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links{
  display: flex;
  
}

.nav-links li{
  padding: 10px;
  list-style-type: none;
  
}


.nav-links a{
  text-decoration: none;
  
}





/* Cards */
.card-container{
  width: 60%;
  margin: auto;
}

.card-container .card{
  width: 150px;
  
}