<!DOCTYPE html>

<html>


  
  <head>

    
    
    {% block head %}
    {% endblock %}

  </head>
  
  <body>
    
    <nav>
      <div>
        <p> Σ</p>
        <ul class="nav-links">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'product' %}">Product</a></li>
          <li><a href="{% url 'settings' %}">Settings</a></li>
          <li><a href="{% url 'mission' %}">Mission</a></li>
          <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
      </div>
    </nav>
    
    {% block content %}
    {% endblock %}

  </body>
  
</html>