{% extends "./default.html" %} 

{% load static %}
    

{% block head %}
<title> Fulfillmentationalism </title>
<link rel="stylesheet" href="{% static 'base/styles.css' %}">
{% endblock %}

{% block content %}
<h1> Order:  </h1>

    <div class="order">
      <h3 class="ordered_product"> {{ object.objected_product }}</h3>
      <p class="firstname"> {{ object.first_name }} </p>
      <p class="lastname"> {{ object.last_name }} </p>
      <p class="address"> {{ object.address }} </p>
      <p class="city"> {{ object.city }} </p>
      <p class="zipcode"> {{ object.zip_code }} </p>
      <p class="time"> {{ object.object_time }} </p>
      <p class="fulfilment-status {{object.fulfillment_status}}"> {{ object.fulfillment_status }} </p>
    </div>

  <form method="post">{%csrf_token%}
    {{ form.as_p }}
    <input type="submit" value="Update"
  </form>



{% endblock %}