{% extends "./default.html" %} 

{% load static %}

{% block head %}
<title> Product </title> 
<link rel="stylesheet" href="{% static 'base/styles.css' %}">
{% endblock %}

{% block content %}
<h1> Buy to support the usurption of earth! </h1>

<main>


  <a href="{% url 'order' %}">Buy Product</a>
  
  <div class="card-container">
  {% for product in products.all %}
    <div class="card">
  
      <a href="{% url 'details' product.id %}"> 
        <img class="product-img" src="{{ product.product_img.url }}" alt="img">  
      
        <h3 class="product-name"> {{ product.product_name }}</h3>
      </a> 
      <p class="product-price"> {{ product.product_price}} </p>
      <p class="product-description"> {{ product.product_description_abridged}} </p>
      
      <a href="{% url 'order' %}">
        <button type="button" href="{% url 'order' %}"> Purchase </button>
      </a>
      <button type="button"> Add to cart </button>
    
    </div>
    
  {% endfor %}
    


    
  </div>
</main>



{% endblock %}