{% extends "./default.html" %} 

{% load static %}

{% block head %}
<title> Product </title> 
<link rel="stylesheet" href="{% static 'base/styles.css' %}">
{% endblock %}

{% block content %}
<h1> Buy to support the usurption of earth </h1>

<main>
  <div class="card-container">


    <div class="card"> 
      <h3 class="product-name"> World Eater </h3>
      <p class="product-price"> $228 </p>
      <!-- Product image
       Heading
       price
       description
       add to cart button 
       -->
    </div>

    


    
  </div>
</main>



{% endblock %}